AnchorPane {
    -fx-background-color: #FFFFFF;
}

Button {
    -fx-font-size: 14px;
    -fx-font-family: arial;
    -fx-text-fill: #707070;
    -fx-background-color: transparent;
    -fx-border-color: #707070;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}

Button:hover {
    -fx-font-size: 14px;
    -fx-font-family: arial;
    -fx-text-fill: #707070;
    -fx-background-color: transparent;
    -fx-border-color: #707070;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}

TextFlow {
    -fx-padding: 20px;
}
/**
Label {
    -fx-font-size: 14px;
    -fx-font-family: helvetica;
    -fx-text-fill: #B0B0B0;
}

.h1 {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-size: 18px;
}

.error {
    -fx-text-fill: #FF0000;
}

CheckBox {
    -fx-font-size: 14px;
    -fx-font-family: helvetica;
    -fx-text-fill: #B0B0B0;
}
**/